.classe1{
  ul{
    background-color: red;
    li{
      text-align: center;
      padding: 10px;
      background-color: dodgerblue;
    }
  }  
  .btn{
    padding: 5px 5px;
    background-color: chartreuse;
    color: #000;

    &:hover{
      background-color: darkgreen;
      transition: 2s;
    }
  }
}